@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;1,300;1,900&family=Patrick+Hand+SC&family=Rock+Salt&family=Tiro+Telugu:ital@0;1&display=swap');
/* LATO, PATRICK HAND SC, ROCK SALT, TIRO TELUGU, */

/* Language: css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Lato', sans-serif;
  }
}

/* font-family: 'Patrick Hand SC', cursive;
font-family: 'Rock Salt', cursive;
font-family: 'Tiro Telugu', serif; */